@use "../../styles/variables" as v;

.properties-page-form{
    background-color: rgb(242, 242, 242);
    padding: 2.2rem;
    color: black;
    font-size: .8rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    .property-search-input, .property-min-input, .property-max-input, .property-location-input{
        background-color: rgb(242, 242, 242);
        border-color: black;
        font-size: .8rem;
        height: 2rem;
    }

    .property-search-button{
        color: v.$color4;
        background-color: rgb(255, 130, 5);
        font-size: .8rem;

    }

}
