@use "../../styles/variables" as v;

footer{
    background-color: v.$color6;
    color:#939393;
    padding-top: 100px;
    padding-bottom: 100px;
   
}
.link{
    margin-left: -0.8rem;
    color: #939393;
    text-align: left;
    &:hover{
        color:white;
    }
}


