@use "../styles/variables" as v;


.login-layout{
    
    .btn-return{
        position: absolute;
        top: 8px;
        left: 45px;
    }
    .row{
        display: flex;
        
    }
   .menu{
    flex: 1;
  
    background-color: v.$color2  ;
    
    }
    .col:nth-child(2){
        flex: 5;
       
        width: 100%;
    }
  
}