@use "../../../styles/variables" as v;

.dream-house{
    background: #f3e4cc;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

    button{
        width: 200px;
    }
}