@use "../../styles/variables" as v;

.contact-form{
    width: 28%;
    border: 1px solid black;
    position: absolute;
    top: 55%;
    left: 15%;
    background: white;
    @media (max-width:992px) {
        left: 0;
        width: 100%;
        position: relative;
        
    }
    
    input, textarea{
        border: none;
        background: v.$color4;
    }
  


}