@use "../../styles/variables" as v;

.contact-form{
    width: 28%;
    border: 1px solid black;
    position: absolute;
    top: 55%;
    left: 15%;
    background: white;
    
    input, textarea{
        border: none;
        background: v.$color4;
    }
  


}