@use "../../../styles/variables" as v;


.adTypeNew{
    width: 100%;

    .rounded{
        width: 70%;
       
        border: none;
        padding: 10px;
        background-color: v.$color4;
        border-radius: 0px ;
        -webkit-border-radius: 0px ;
        -moz-border-radius: 0px ;
        -ms-border-radius: 0px ;
        -o-border-radius: 0px ;
    }
     .button{
        display:flex;
        justify-content:space-evenly ;
     }
     .close{
        width: 170px;
        background-color: v.$color2;
        &:hover{
            background-color: v.$color1;
        }
     }
     .create{
        width: 170px;
        background-color: v.$color2;
        &:hover{
            background-color: v.$color1;
        }
     }
    
}