@use "../../../styles/variables" as v;

.properties-by-type-card{
  background: v.$color4;
  height: 250px;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 10%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;

  @media (min-width:998px) {
    h4{
      font-size: 20px;

    }
    
  }
}

