@use "../../../styles/variables" as v;

.properties-by-cities-card{
  background: v.$color2-opacity-40;
  display: flex;
  justify-content: space-between;
align-items: center;
  height: 90px;
  width: 90px;
  padding: 10%;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  
  .image{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 250px;
    gap: -2px;

  }
}

