@use "../../styles/variables" as v;

.myProfilPage{

    .label{
        font-family: 'Oswald', sans-serif 400;
        font-size: 1.4rem;
    }
    .control, span{
        background-color: v.$color5;
        border-color: white;
        border-radius: 0;
        height: 50px;
        border-bottom: 2px solid black; 

    }

    .btn-login{
        font-family: v.$font-family;
        font-size: 1.5rem;
        
     
    }


   

}